/* @font-face {
  font-family: 'General Sans';
  src: url('/static/fonts/GeneralSans-Variable.ttf') format('truetype'),
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  font-style: bold;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
